body {
  background-color: #333;
  font-family: 'Roboto', Arial, sans-serif; }
  body #container {
    width: 100%;
    margin: 0 auto; }
    body #container h1 {
      color: white;
      font-size: 4em;
      margin: 5% 30% 0;
      text-align: center;
      text-shadow: 5px 5px 5px #000;
      width: 40%; }
    body #container form {
      width: 10%;
      min-width: 150px;
      margin: auto; }
      body #container form p {
        color: yellow; }
      body #container form input, body #container form button {
        float: left;
        clear: left; }
      body #container form label {
        float: left;
        color: white;
        font-family: 'Roboto', Arial, sans-serif; }
    body #container ul#cyclelist {
      margin: 5% auto;
      overflow: hidden;
      padding-left: 0;
      width: 50%;
      border: 5px solid whitesmoke;
      background-color: #111;
      box-shadow: 5px 6px 20px #000; }
      body #container ul#cyclelist li {
        font-size: 3.4em;
        padding: 20px;
        opacity: 0;
        list-style-type: none;
        color: white;
        text-align: center; }
        body #container ul#cyclelist li.red {
          color: red; }
        body #container ul#cyclelist li.orange {
          color: orange; }
        body #container ul#cyclelist li.yellow {
          color: yellow; }
        body #container ul#cyclelist li.green {
          color: green; }
        body #container ul#cyclelist li.blue {
          color: blue; }
        body #container ul#cyclelist li.indigo {
          color: purple; }
        body #container ul#cyclelist li.violet {
          color: violet; }
        body #container ul#cyclelist li.white {
          color: white; }
        body #container ul#cyclelist li.active {
          display: list-item;
          opacity: 1;
          list-style-type: none; }
    body #container button, body #container a.start, body #container a.stop {
      background-color: white;
      color: black;
      margin-right: 25px;
      margin-top: 20px;
      padding: 20px;
      text-decoration: none;
      width: auto;
      border-radius: 10px;
      box-shadow: 5px 5px 0px silver; }
    body #container button {
      background-color: green;
      color: #fff;
      font-size: 14px;
      border: none; }
    body #container a {
      color: white;
      margin: auto;
      display: block;
      float: none;
      text-align: center; }
      body #container a.stop, body #container a.start {
        background-color: red;
        font-weight: bold;
        width: 40px;
        margin: auto;
        color: white; }
      body #container a.start {
        background-color: green; }
      body #container a.back {
        width: 50px;
        margin: auto;
        margin-top: 100px;
        text-decoration: none; }
        body #container a.back:hover {
          text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
