body {
  background-color: #333;
  font-family: 'Roboto', Arial, sans-serif;


  #container {
    width: 100%;
    margin: 0 auto;

    h1{
      color: white;
      font-size: 4em;
      margin: 5% 30% 0;
      text-align: center;
      text-shadow: 5px 5px 5px #000;
      width: 40%;
    }

    form {
      width: 10%;
      min-width:150px;
      margin: auto;

      p{
        color:yellow;
      }


      input, button {
        float: left;
        clear: left;
      }

      label {
        float: left;
        color: white;
        font-family: 'Roboto', Arial, sans-serif;
      }
    }

    ul#cyclelist {
      margin: 5% auto;
      overflow: hidden;
      padding-left: 0;
      width: 50%;
      border: 5px solid whitesmoke;
      background-color: #111;
      box-shadow: 5px 6px 20px #000;

      li {
        font-size: 3.4em;
        padding: 20px;
        opacity: 0;
        list-style-type: none;
        color: white;
        text-align:center;

        &.red{color:red;}
        &.orange{color:orange;}
        &.yellow{color:yellow;}
        &.green{color:green;}
        &.blue{color:blue;}
        &.indigo{color:purple;}
        &.violet{color:violet;}
        &.white{color:white;}

        &.active {
          display: list-item;
          opacity: 1;
          list-style-type: none;
        }
      }
    }

  button, a.start, a.stop {
    background-color: white;
    color: black;
    margin-right: 25px;
    margin-top: 20px;
    padding: 20px;
    text-decoration: none;
    width: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 0px silver;
  }

    button{
      background-color:green;
      color: #fff;
      font-size: 14px;
      border: none;
    }

    a{
      color:white;margin:auto;display:block;float:none;text-align: center;

      &.stop, &.start{
        background-color: red;font-weight: bold;width:40px;margin:auto;color:white;
      }

      &.start{
        background-color:green;
      }

      &.back{
        width:50px;margin:auto;margin-top:100px;text-decoration:none;

        &:hover{
          text-decoration:none;
        }
      }
    }

  }

}
